<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ItLang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;900&family=Rubik&display=swap" rel="stylesheet">

    <link media="all" th:href="@{/css/nullstyle.css}" href="../../static/css/nullstyle.css" rel="stylesheet">
    <link media="all" th:href="@{/css/loader.css}" rel="stylesheet">
    <link media="all" th:href="@{/css/authorisation.css}" href="../../static/css/authorisation.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">


</head>
<body>

<div id="page-preloader" class="preloader">
    <div class="loader"></div>
</div>

<div class="wrapper">
    <img src="../../static/media/general/main-vector.png" th:src="@{/media/general/main-vector.png}" class="main_vector vector">
    <img th:src="@{/media/general/vector2.png}" src="../../static/media/general/vector2.png" class="second_vector vector">

    <div class="container">
        <div class="content">

            <div class="content_item">

                <div class="image_block">
                    <img class="image_block-img" th:src="@{/media/general/auth.png}" src="../../static/media/general/auth.png" alt="auth">
                </div>

                <div class="form_block">
                    <form th:action="@{/auth/resetPassword}" method="post">
                        <div class="label_block">
                            <label class="label" for="email">Email</label>
                            <input class="input" type="email" name="email" id="email">
                        </div>
                        <p class="error" th:text="${find}"></p>
                        <hr class="line">
                        <button class="btn" type="submit">Пошук</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script th:src="@{/js/preloader.js}" src="../../static/js/preloader.js"></script>
</body>
</html>