<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ItLang</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;900&family=Rubik&display=swap" rel="stylesheet">

    <link th:href="@{/css/nullstyle.css}" href="../static/css/nullstyle.css" rel="stylesheet" >
    <link th:href="@{/css/loader.css}" href="../static/css/loader.css" rel="stylesheet" >
    <link th:href="@{/css/admin/admin.css}" href="../../static/css/admin/admin.css" rel="stylesheet" >


</head>
<body>
<div class="content">
    <div th:insert="~{fragments/admin_bar.html :: admin_bar}"></div>
    <div class="main_content">
        <div class="edit-container">
            <form class="form" th:action="@{edit-video}" method="post">
                <textarea class="textarea" th:text="${video.getBlogPostVideoLink()}" th:field="*{video.blogPostVideoLink}" name="blogPostVideoLink" id="title" cols="100" placeholder="Назва підтеми" rows="2"></textarea>
                <button class="save_btn btn" type="submit">Зберегти</button>
            </form>
        </div>
    </div>
</div>



</body>
</html>