<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>ItLang</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;900&family=Rubik&display=swap" rel="stylesheet">

  <link th:href="@{/css/nullstyle.css}" href="../static/css/nullstyle.css" rel="stylesheet" >
  <link th:href="@{/css/loader.css}" href="../static/css/loader.css" rel="stylesheet" >
  <link th:href="@{/css/admin/admin.css}" href="../../static/css/admin/admin.css" rel="stylesheet" >

</head>
<body>
<div class="wrapper">
  <div class="content_blog">
    <div th:insert="~{fragments/admin_bar.html :: admin_bar}"></div>

    <div class="main_content">
      <div class="couses">
        <div class="blog_title title">
          <div class="blog_title-text title_text">
            Курси
          </div>
          <hr class="title_line">
        </div>

        <div class="courses_content">
          <button id="add_course" class="add_button">
            Додати курс
          </button>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">title</th>
              <th scope="col">is_active</th>
              <th scope="col">action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tab : ${courses}">
              <td th:text="${tab.getTitle()}">title</td>
              <td th:text="${tab.isActive()}">is_active</td>

              <td class="action_col" style="width: 90px">
                <a th:class="edit" th:href="@{/admin/courses/{id}/edit(id= ${tab.getId()})}"><img style="width: 25px; height: 25px"  th:src="@{/media/general/edit.svg}" alt="edit"></a>
                <a th:class="del" id="del" onclick="return confirm('Ви впевнені, що хочете видалити курс?')" th:href="@{/admin/courses/{id}/delete(id = ${tab.getId()})}" class="ms-2" href="#"><img style="width: 25px; height: 25px"  th:src="@{/media/general/delete.svg}" alt="delete"></a>
              </td>
            </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="add_video-modal" id="add_course-modal">
    <div class="add_post-modal__content">
      <div class="modal_title">
        Додати курс
      </div>
      <form class="form" th:action="@{courses/add_course}" method="post">
        <textarea required class="textarea" th:field="*{course.title}" name="title" id="title" cols="100" placeholder="Назва курсу" rows="2"></textarea>
        <button class="btn save_btn" type="submit">Додати</button>
      </form>
      <a class="close" id="close_add_video-modal"></a>

    </div>
  </div>

</div>
</body>
<script>
  var btn1 = document.getElementById("add_course");
  var modal1 = document.getElementById("add_course-modal");
  var close1 = document.getElementById("close_add_video-modal")

  btn1.onclick = function () {
    modal1.style.display = "block";
  }
  window.onclick = function(event) {
    if (event.target == modal1) {
      modal1.style.display = "none";
    }
  }
  close1.onclick = function () {
    modal1.style.display = "none";
  }
</script>
</html>