<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>ItLang</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;900&family=Rubik&display=swap" rel="stylesheet">

  <link th:href="@{/css/admin/admin.css}" href="../../static/css/admin/admin.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

</head>
<body>
<div class="wrapper">
  <div class="content">
    <div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4 ">IT Lang</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/admin" class="nav-link active text-black bg-warning" aria-current="page">
            <svg class="bi pe-none me-2 " width="16" height="16"><use xlink:href="#home"></use></svg>
            Курси
          </a>
        </li>
        <li>
          <a href="/admin/blog" class="nav-link  text-white">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Блог
          </a>
        </li>
        <li>
          <a href="/admin/users" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Користувачі
          </a>
        </li>
        <li>
          <a href="/admin/level-test" class="nav-link text-white ">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Тестування
          </a>
        </li>
      </ul>
      <hr>
    </div>
    <div class="page_content">
      <div class="blog_title title">
        <div th:text="${level.getCourse().getTitle() + ' / ' + level.getTitle()}" class="blog_title-text title_text">
          Назва курсу
        </div>
        <hr class="title_line">

        <section class="answers">
          <div class="answers_container container">



            <div class="answers_column">
              <!--            LISTENING              -->
              <div class="answers_row">
                <div class="answers-item">
                  <p class="question_title">Listening</p>
                  <div class="answer_block answer_block-first">
                    <div class="answer_text">
                      <div class="listening_edit">
                        <button id="add_task" class="btn btn-dark mt-2">
                          Додати завдання
                        </button>
                        <table th:if="${!listening_tasks.isEmpty()}" class="table table-hover table-dark table-striped mt-2">
                          <thead>
                          <tr>
                            <th scope="col">title</th>
                            <th scope="col">action</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr th:each="tab : ${listening_tasks}">
                            <td th:text="${tab.getTitle()}">title</td>
                            <td class="action_col" style="width: 90px">
                              <a th:class="edit" th:href="@{/admin/task/{id}/edit(id = ${tab.getId()})}"><img style="width: 25px; height: 25px"  th:src="@{/media/general/edit.svg}" alt="edit"></a>
                              <a th:class="del" id="del" onclick="return confirm('Ви впевнені, що хочете видалити завдання?')" th:href="@{edit/delete_task/{sid}(sid = ${tab.getId()})}" class="ms-2" href="#"><img style="width: 25px; height: 25px"  th:src="@{/media/general/delete.svg}" alt="delete"></a>
                            </td>
                          </tr>

                          </tbody>
                        </table>

                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!--            READING              -->
              <div class="answers_row">
                <div class="answers-item">
                  <p class="question_title">Reading</p>
                  <div class="answer_block answer_block-second">
                    <div class="answer_text">
                      <div class="reading_edit">
                        <button id="add_task_reading" class="btn btn-dark mt-2">
                          Додати завдання
                        </button>
                        <table th:if="${!reading_tasks.isEmpty()}" class="table table-hover table-dark table-striped mt-2">
                          <thead>
                          <tr>
                            <th scope="col">title</th>
                            <th scope="col">action</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr th:each="tab : ${reading_tasks}">
                            <td th:text="${tab.getTitle()}">title</td>
                            <td class="action_col" style="width: 90px">
                              <a th:class="edit" th:href="@{/admin/task/{id}/edit(id = ${tab.getId()})}"><img style="width: 25px; height: 25px"  th:src="@{/media/general/edit.svg}" alt="edit"></a>
                              <a th:class="del" id="del1" onclick="return confirm('Ви впевнені, що хочете видалити завдання?')" th:href="@{edit/delete_task/{sid}(sid = ${tab.getId()})}" class="ms-2" href="#"><img style="width: 25px; height: 25px"  th:src="@{/media/general/delete.svg}" alt="delete"></a>
                            </td>
                          </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--            USE OF ENGLISH -->
              <div class="answers_row">
                <div class="answers-item">
                  <p class="question_title">Use of English</p>
                  <div class="answer_block answer_block-third">
                    <div class="answer_text">
                      <div class="useOE_edit">
                        <button id="add_task_use" class="btn btn-dark mt-2">
                          Додати завдання
                        </button>

                        <table th:if="${!useOfEnglish_tasks.isEmpty()}" class="table table-hover table-dark table-striped mt-2">
                          <thead>
                          <tr>
                            <th scope="col">title</th>
                            <th scope="col">action</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr th:each="tab : ${useOfEnglish_tasks}">
                            <td th:text="${tab.getTitle()}">title</td>
                            <td class="action_col" style="width: 90px">
                              <a th:class="edit" th:href="@{/admin/task/{id}/edit(id = ${tab.getId()})}"><img style="width: 25px; height: 25px"  th:src="@{/media/general/edit.svg}" alt="edit"></a>
                              <a th:class="del" onclick="return confirm('Ви впевнені, що хочете видалити завдання?')" th:href="@{edit/delete_task/{sid}(sid = ${tab.getId()})}" class="ms-2" href="#"><img style="width: 25px; height: 25px"  th:src="@{/media/general/delete.svg}" alt="delete"></a>
                            </td>
                          </tr>

                          </tbody>
                        </table>

                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!--              WRITING-->
              <div class="answers_row">
                <div class="answers-item">
                  <p class="question_title">Writing</p>
                  <div class="answer_block question_show-forth">
                    <div class="answer_text">
                      <div class="useOE_edit">
                        <form class="writing_form" th:action="@{/admin/level/{id}/add_task(id = ${level.getId()})}" method="post">
                          <input class="textarea2 " placeholder="Назва завдання" type="text" name="title" required>
                          <input required type="hidden" name="task" value="writing">
                          <button class="btn btn-dark " type="submit">
                            Додати завдання
                          </button>
                        </form>


                        <table th:if="${!writing_tasks.isEmpty()}" class="table table-hover table-dark table-striped mt-2">
                          <thead>
                          <tr>
                            <th scope="col">title</th>
                            <th scope="col">action</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr th:each="tab : ${writing_tasks}">
                            <td th:text="${tab.getTitle()}">title</td>
                            <td class="action_col" style="width: 90px">
                              <a th:class="edit" th:href="@{/admin/task/{id}/edit(id = ${tab.getId()})}"><img style="width: 25px; height: 25px"  th:src="@{/media/general/edit.svg}" alt="edit"></a>
                              <a th:class="del" onclick="return confirm('Ви впевнені, що хочете видалити завдання?')" th:href="@{edit/delete_task/{sid}(sid = ${tab.getId()})}" class="ms-2" href="#"><img style="width: 25px; height: 25px"  th:src="@{/media/general/delete.svg}" alt="delete"></a>
                            </td>
                          </tr>

                          </tbody>
                        </table>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>


<!--      MODALS-->
<!--  LISTENING-->
<div class="add_video-modal" id="add_task-modal">
  <div class="add_task-modal__content">
    <div class="modal_title">
      Оберіть шаблон завдання
    </div>
    <form class="form" th:action="@{/admin/level/{id}/add_task(id = ${level.getId()})}" method="post">
      <input class="textarea" placeholder="Текст завдання" type="text" name="title" required>
      <div class="task_form">
        <div class="form_block">
          <label class="first_label">
            <input required type="radio" name="task" value="listening_text_more_answer">
            <img class="task_image" th:src="@{/media/tasks/listening_text_more_answer.jpg}" src="../../static/media/tasks/listening_text_more_answer.jpg" alt="">
          </label>
          <label>
            <input required type="radio" name="task" value="listening_text_answer">
            <img class="task_image" th:src="@{/media/tasks/listening_text_answer.jpg}" src="../../static/media/tasks/listening_text_answer.jpg" alt="">
          </label>
        </div>
        <div class="form_block">
          <label class="first_label">
            <input required type="radio" name="task" value="listening_true_false">
            <img class="task_image" th:src="@{/media/tasks/listening_true_false.jpg}" src="../../static/media/tasks/listening_true_false.jpg" alt="">
          </label>
          <label>
            <input required type="radio" name="task" value="listening_image_answer">
            <img class="task_image" th:src="@{/media/tasks/listening_image_answer.jpg}" src="../../static/media/tasks/listening_image_answer.jpg" alt="">
          </label>
        </div>
      </div>
      <button class="btn btn-dark mt-2" type="submit">Далі</button>
    </form>
    <a class="close" id="close_add_task-modal"></a>

  </div>
</div>

<!--  READING-->
<div class="add_video-modal" id="add_reading-modal">
  <div class="add_task-modal__content">
    <div class="modal_title">
      Оберіть шаблон завдання
    </div>
    <form class="form" th:action="@{/admin/level/{id}/add_task(id = ${level.getId()})}" method="post">
      <input class="textarea" placeholder="Текст завдання" type="text" name="title" required>
      <div class="task_form">
        <div class="form_block">
          <label class="first_label">
            <input required type="radio" name="task" value="reading_texts_answer">
            <img class="task_image" th:src="@{/media/tasks/reading_texts_answer.jpg}" src="../../static/media/tasks/listening_text_more_answer.jpg" alt="">
          </label>
        </div>
        <div class="form_block">
          <label class="first_label">
            <input required type="radio" name="task" value="reading_text_answers">
            <img class="task_image" th:src="@{/media/tasks/reading_text_answers.jpg}" src="../../static/media/tasks/listening_true_false.jpg" alt="">
          </label>
        </div>
      </div>
      <button class="btn btn-dark mt-2" type="submit">Далі</button>
    </form>
    <a class="close" id="close_add_reading-modal"></a>

  </div>
</div>

<!--  USE OF ENGLISH-->
<div class="add_video-modal" id="add_use-modal">
  <div class="add_task-modal__content">
    <div class="modal_title">
      Оберіть шаблон завдання
    </div>
    <form class="form" th:action="@{/admin/level/{id}/add_task(id = ${level.getId()})}" method="post">
      <input class="textarea" placeholder="Текст завдання" type="text" name="title" required>
      <div class="task_form">
        <div class="form_block">
          <label class="first_label">
            <input required type="radio" name="task" value="use_text_answers">
            <img class="task_image" th:src="@{/media/tasks/use_text_answers.jpg}" src="../../static/media/tasks/listening_text_more_answer.jpg" alt="">
          </label>
        </div>
        <div class="form_block">
          <label class="first_label">
            <input required type="radio" name="task" value="use_text_paste">
            <img class="task_image" th:src="@{/media/tasks/use_text_paste.jpg}" src="../../static/media/tasks/listening_true_false.jpg" alt="">
          </label>
        </div>
      </div>
      <button class="btn btn-dark mt-2" type="submit">Далі</button>
    </form>
    <a class="close" id="close_add_use-modal"></a>

  </div>
</div>
</body>
<script>
  var btn1 = document.getElementById("add_task");
  var modal1 = document.getElementById("add_task-modal");
  var close1 = document.getElementById("close_add_task-modal")

  btn1.onclick = function () {
    modal1.style.display = "block";
  }
  window.onclick = function(event) {
    if (event.target == modal1) {
      modal1.style.display = "none";
    }
  }
  close1.onclick = function () {
    modal1.style.display = "none";
  }

  var btn2 = document.getElementById("add_task_reading");
  var modal2 = document.getElementById("add_reading-modal");
  var close2 = document.getElementById("close_add_reading-modal")

  btn2.onclick = function () {
    modal2.style.display = "block";
  }
  window.onclick = function(event) {
    if (event.target == modal2) {
      modal2.style.display = "none";
    }
  }
  close2.onclick = function () {
    modal2.style.display = "none";
  }

  var btn3 = document.getElementById("add_task_use");
  var modal3 = document.getElementById("add_use-modal");
  var close3 = document.getElementById("close_add_use-modal")

  btn3.onclick = function () {
    modal3.style.display = "block";
  }
  window.onclick = function(event) {
    if (event.target == modal3) {
      modal3.style.display = "none";
    }
  }
  close3.onclick = function () {
    modal3.style.display = "none";
  }
</script>
</html>