<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ItLang</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;900&family=Rubik&display=swap" rel="stylesheet">

    <link media="all" th:href="@{/css/blog/blog-edit.css}" href="../../static/css/blog/blog-edit.css" rel="stylesheet">
    <link media="all" th:href="@{/css/nullstyle.css}" href="../../static/css/nullstyle.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <img class="header_image" th:src="@{/image/{id}(id = ${post.getPreviewImageId()})}" src="../../static/media/index/advantages1.png" alt="previewImage">

    <form class="form" th:action="@{/blog/post/{id}/edit(id = ${post.getId()})}" method="post" enctype="multipart/form-data">

    <h2 class="title">Основна інформація</h2>

    <div class="text">Нове головне зображення</div>
    <input type="file" id="previewImage" name="previewImage"><br><br>
    <textarea class="textarea" th:text="${post.getBlogPostTitle()}" th:field="*{post.blogPostTitle}" required="required" minlength="20" maxlength="255" name="blogPostTitle" id="blogPostTitle" cols="100" rows="1" placeholder="Тема публікації"></textarea><br>
    <textarea class="textarea" th:text="${post.getBlogPostText()}" th:field="*{post.blogPostText}" required="required" minlength="20" name="blogPostText" id="blogPostText" cols="100" rows="10" placeholder="Текст публікації"></textarea>

        <hr class="line">

    <div class="subthemes">
        <h2 class="title">Підтеми</h2>
        <div class="subtheme" th:each="sub : ${subtheme}">
            <p class="text">Назва: </p>
            <p class="subtext" th:text="${sub.getBlogPostSubthemeTitle()}">123322456</p>
            <p class="text">Текст: </p>
            <p class="subtext" th:text="${sub.getBlogPostSubthemeText()}">1232154565</p>
            <a class="edit_btn btn" th:href="@{/blog/post/{id}/edit/subtheme/{sid}/edit(id = ${post.getId()}, sid = ${sub.getId()})}">Редагувати</a>
            <a class="delete_btn btn" th:href="@{/blog/post/{id}/edit/subtheme/{sid}/delete(id = ${post.getId()}, sid = ${sub.getId()})}">Видалити</a>
        </div>
        <a th:href="@{/blog/post/{id}/edit/add-subtheme(id = ${post.getId()})}" class="add_btn">+</a>
    </div>

    <hr class="line">

    <h2 class="title">Зображення</h2>

    <div class="images" >
        <div class="image" th:each="img : ${images}">
            <img class="img" th:src="@{/image/{id}(id = ${img.getId()})}" alt="" src="">
            <a class="delete_btn btn" th:href="@{/blog/post/{id}/edit/image/{sid}/delete(id = ${post.getId()}, sid = ${img.getId()})}">Видалити</a>
        </div>
    </div>
        <p class="text">Нові зображення:</p>
        <input type="file" name="files" placeholder="Image" multiple><br><br>
        <hr class="line">

        <div class="content">
            <h2 class="title">Відео</h2>
            <div class="images">
                <div class="image" th:each="video : ${videos}">
                    <iframe src="https://www.youtube.com/embed/IkFjTHxSHZA" th:src="@{${video.getBlogPostVideoLink()}}" class="video_player-frame" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <a class="delete_btn btn" th:href="@{/blog/post/{id}/edit/video/{sid}/delete(id = ${post.getId()}, sid = ${video.getId()})}">Видалити</a>
                    <a class="edit_btn btn" th:href="@{/blog/post/{id}/edit/video/{sid}/edit(id = ${post.getId()}, sid = ${video.getId()})}">Редагувати</a>
                </div>

            </div>
            <a class="add_btn" th:href="@{edit/add-video}">+</a>
        </div>



    <hr class="line">

   <div class="btns">
       <button class="save_btn btn" type="submit">Зберегти публікацію</button>
       <a class="delete_btn btn del_btn" href="javascript:PopUpShow()">Видалити публікацію</a>
   </div>
</form>
</div>

<div class="b-popup" id="popup1">
    <div class="b-popup-content">
        <p class="popup_text">Ви дійсно бажаєте видалити статтю?</p>
        <div class="popup_buttons">
            <a class="popup_confirm popup_button" th:href="@{/blog/post/{id}/delete(id = ${post.getId()})}">Так</a>
            <a class="hide_popup popup_button" href="javascript:PopUpHide()">Ні</a>
        </div>
    </div>
</div>
</body>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script>
    $(document).ready(function(){
        //Скрыть PopUp при загрузке страницы
        PopUpHide();
    });
    //Функция отображения PopUp
    function PopUpShow(){
        $("#popup1").show();
    }
    //Функция скрытия PopUp
    function PopUpHide(){
        $("#popup1").hide();
    }
</script>
</html>