.header_container{
    font-family: Bitter, serif;
    display: flex;
    min-height: 65px;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.header_logo{
    width: 125px;
    height: 65px;
    display: flex;
    align-items: center;
}
.header_menu{
    display: flex;

}
.menu_list{
    display: flex;
    align-items: center;
    margin: 0 132px 0 0;
}
.menu_item:not(:last-child){
    margin: 0 50px 0 0;
}
.menu_link:hover{
    color: #E36F59;
    transition: all 0.2s;
}
.menu_link{
    font-weight: 600;
    font-size: 16px;
    line-height: 118%;
    color: #23262D;
}
.menu_button:hover{
    background: rgba(0,0,0,0);
    color: #E36F59;
    box-shadow: inset 0 0 0 2px #E36F59;

}
.menu_button{
    padding: 8px 18px;
    background: #E36F59;
    border-radius: 10px;
    color:#fff;
    font-weight: 700;
    line-height: 118%;
    font-size: 16px;
    transition: all 0.1s;

}
.hamburger-menu{
    visibility: hidden;
    position: absolute;
}
.burger_menu{
    position: relative;
}
@media (max-width: 1024px){
    .menu_list{
        margin: 0 60px 0 0;
    }
}
@media (max-width: 700px){
    .header_logo-image{
        height: 45px;
    }
    .header_logo{
        height: 45px;
    }
    .menu_list{
        margin-right: 40px;
    }
    .menu_link{
        font-size: 14px;
    }
    .menu_button{
        font-size: 14px;
    }
}
@media (max-width: 575px){
    .header_menu{
        visibility: hidden;
        position: absolute;
    }
    .hamburger-menu{
        visibility: visible;
        position: relative;
        z-index: 50;
    }
    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: relative;
        top: -5px;

        width: 26px;
        height: 26px;

        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 3px;

        border-radius: 10px;

        background-color: #E36F59;

        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;

        width: 300px;
        height: 100%;

        margin: 0;
        padding: 80px 0;

        list-style: none;

        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;

        color: #333;

        font-size: 20px;
        font-weight: 600;

        text-decoration: none;

        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
}
.avatar{
    width: 45px;
    height: 45px;
    border-radius: 100px;
}