<div th:fragment="admin_bar" class="left_bar">
  <a href="/">
    <img class="logo" th:src="@{/media/index/logo-light1.svg}" src="../../static/media/index/logo-light1.svg" alt="logo">
  </a>
  <hr class="admin_line">
  <ul class="links_list">
    <li class="link_item"><a href="/admin/blog" class="link">Блог</a></li>
    <li class="link_item"><a href="/admin/users" class="link">Користувачі</a></li>
    <li class="link_item"><a href="/admin/level_test" class="link">Тест на рівень</a></li>
    <li class="link_item"><a href="/admin/courses" class="link">Курси</a></li>
    <li class="link_item"><a href="/admin/support" class="link">Підтримка</a></li>
  </ul>
</div>
