body{
    position: relative;
    font-family: 'Bitter', serif;
    color: #23262D;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 40;
    display: flex;
    flex-direction: column;
}

/*CONTAINER******************************************* */
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}
@media (max-width: 1024px) {
    .container{
        max-width: 700px;
    }
}
@media (max-width: 575px) {
    .container{
        max-width: 320px;
    }
}
.content{
    flex: 1 1 auto;
}
/*VECTORS*****************************************/
.vector{
    position: absolute;
    z-index: -10000;
    width: 857px;
    height: 695px;
}
.main_vector{
    left: -220px;
    top: -63px;
}
.second_vector{
    top: 1000px;
    right: -470px;
}
.header{
    margin-top: 15px;
}
/****top******/
.content{
    margin: 30px 0 0 0;
    position: relative;
}
.blog_image{
    position: absolute;
    top: 0;
    right: 0;
    width: 337px;
}
.navigation{
    display: flex;
    align-items: center;
}

.navigation_link{
    margin: 0 10px;
    font-family: "Segoe UI", serif;
    font-weight: 400;
    font-size: 14px;
    color: #212836;
}
.unactive_link{
    opacity: 0.6;
}
.navigation_next{
    margin-top: 3px;
}
.title_text{
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0.01em;
    padding-left: 10px;

}
.title_line{
    width: 110px;
    height: 16px;
    opacity: 0.5;
    border-radius: 4px;
    background: #E36F59;
    position: absolute;
    z-index: -1;
    bottom: 2px;
}
.title{
    margin: 30px 0 10px 0;
    position: relative;
}
@media (max-width: 1024px){
    .title_text{
        font-size: 32px;
    }
    .title_line{
        width: 75px;
        height: 10px;
    }
}
@media (max-width: 575px){
    .title_text{
        font-size: 30px;
    }
    .title_line{
        width: 60px;
        height: 8px;
    }
}
.blog_post{
    margin: 70px 0 0 0;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px #E36F59;
    border-radius: 8px;
    position: relative;
}

.blog_post_header{
    width: 100%;
    max-height: 400px;
}
.header_image{
    width: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    max-height: 400px;
}
.blog_post_content{
    padding: 25px 100px 50px 100px;
}
.blog_post_theme{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.theme_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0.01em;
    text-align: center;
}
.theme_text{
    margin: 15px 0 0 0;
}
.post_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 188%;
    letter-spacing: 0.035em;
    text-indent: 3em;
    text-align: justify;
}
.blog_post_subtheme{
    margin: 40px 0 0 0;
}
.subtheme_title{
    font-weight: 700;
    font-size: 30px;
    line-height: 117%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.subtheme_text{
    margin: 15px 0 0 0;
}
.video_player-frame{
    width: 100%;
    height: 600px;
    border-radius: 8px;
    margin: 50px 0 0 0;
}
.photos{
    margin: 20px 0 0 0;
}
.photo{
    width: 100%;
    border-radius: 8px;
}
@media (max-width: 1024px) {
    .blog_post_content{
        padding: 25px 50px 50px 50px;
    }
    .theme_title{
        font-size: 32px;
    }
    .post_text{
        font-size: 16px;
    }
    .subtheme_title{
        font-size: 24px;
    }
    .video_player-frame{
        height: 320px;
    }
    .header_image{
        max-height: 250px;
    }

    @media (max-width: 575px) {
        .blog_image{
            width: 300px;
            left: 20px;
        }
        .header_image{
            height: 155px;
        }
        .blog_post_content{
            padding: 25px 15px 30px 15px;
        }
        .post_text{
            font-size: 13px;
        }
        .theme_title{
            font-size: 18px;
        }
        .subtheme_title{
            font-size: 18px;
            text-align: center;
        }
        .video_player-frame{
            height: 150px;
        }
    }

}
.btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
.edit_btn{
    background: #C6DDEE;
    color: black;
    margin-right: 5px;
}
.admin_panel{
    position: absolute;
    right: 20px;
    top: 20px;

}