body{
    position: relative;
    font-family: 'Bitter', serif;
    color: #23262D;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 40;
    display: flex;
    flex-direction: column;
}

/*CONTAINER******************************************* */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}
@media (max-width: 1024px) {
    .container{
        max-width: 700px;
    }
}
@media (max-width: 575px) {
    .container{
        max-width: 320px;
    }
}
.content{
    flex: 1 1 auto;
}
/*VECTORS*****************************************/
.vector{
    position: absolute;
    z-index: -10000;
    width: 857px;
    height: 695px;
}
.main_vector{
    left: -220px;
    top: -63px;
}
.second_vector{
    top: 1000px;
    right: -470px;
}
/*********************************************************/
.header{
    margin-top: 15px;
}
.content{
    margin: 30px 0 0 0;
    position: relative;
}
.blog_image{
    position: absolute;
    top: 0;
    right: 0;
    width: 337px;
}
.navigation{
    display: flex;
    align-items: center;
}
.navigation_link{
    margin: 0 10px;
    font-family: "Segoe UI", serif;
    font-weight: 400;
    font-size: 14px;
    color: #212836;
}
.unactive_link{
    opacity: 0.6;
}
.navigation_next{
    margin-top: 3px;
}
.title_text{
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0.01em;
    padding-left: 10px;

}
.title_line{
    width: 110px;
    height: 16px;
    opacity: 0.5;
    border-radius: 4px;
    background: #E36F59;
    position: absolute;
    z-index: -1;
    bottom: 2px;
}
.title{
    margin: 30px 0 10px 0;
    position: relative;
}
@media (max-width: 1024px){
    .title_text{
        font-size: 32px;
    }
    .title_line{
        width: 75px;
        height: 10px;
    }
}
@media (max-width: 575px){
    .title_text{
        font-size: 30px;
    }
    .title_line{
        width: 60px;
        height: 8px;
    }
}
.blog_row{
    display: flex;
    margin: 0 -10px 0 -10px;
    flex-wrap: wrap;
}
.blog_column{
    flex: 0 1 33.3333%;
    display: flex;
    height: 460px;
    padding: 0 10px;
    margin: 30px 0 0 0;
    min-width: 315px;
}
.blog_item{
    background: #fff;
    box-shadow: 0px 3px 23px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    width: 100%;
}
.blog_item:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 15px 1px #E36F59;
    transition: all 0.2s;
}

.item_body{
    padding: 20px 15px 5px 15px;
}
.item_image-img{
    width: 100%;
    height: 215px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.item_body-title{
    font-family: "Segoe UI", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 138%;
    height: 63px;
    color: #23262D;
}
.item_body-text{
    font-family: "Segoe UI", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #606268;
    height: 100px;
}
.item_body_line{
    width: 100%;
    border: 1px solid #E2E7EB;
}
.date-text{
    font-weight: 400;
    font-size: 14px;
    color: #23262D;
    margin: 2px 0 0 10px;
}
.item_body_info{
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 0;
}
.info_date, .info_views{
    display: flex;
    align-items: center;
}
.views-number{
    color: #23262D;
}
.views-image{
    margin: 0 10px 0 0;
}

@media (max-width: 1024px) {
    .blog_column{
        flex: 0 1 50%;
    }

}
@media (max-width: 650px) {
    .blog_column{
        flex: 0 1 50%;
        min-width: 255px;
        height: 420px;
    }
    .item_image-img{
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }
    .item_body-text{
        margin: 0 0 15px 0;
    }
}

@media (max-width: 575px) {
    .blog_column{
        flex: 0 1 100%;
    }
    .blog_image{
        width: 300px;
        left: 20px;
    }
}
.add_btn{
    position: absolute;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 40px;
    border-radius: 10px;
    user-select: none;
    text-decoration: none;
    left: 150px;
    top: 10px;
    background: green;
    width: 40px
}
