body{
    font-family: Bitter, serif;
    height: 100%;
}
.container{
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 15px 1px #E36F59;
    border-radius: 8px;
    padding-bottom: 20px;
}
.container2{
    max-width: 1200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 15px 1px #E36F59;
    border-radius: 8px;
}

.title{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}
.header_image{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
}
.text{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.form-block{
    margin: 0 auto;
}
.textarea{
    border-radius: 5px;
    background: lightgray;
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 10px;
    border: 0;
}
.form{
    padding: 0 20px;
}
.line{
    width: 100%;
    height: 2px;
    background: #E36F59;
    border-radius: 10px;
    margin: 20px 0;
}
.subthemes{
    position: relative;
}
.add_btn{
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 40px;
    border-radius: 10px;
    user-select: none;
    text-decoration: none;
    right: 0;
    top: 0;
    background: green;
}
.subtext{
    font-size: 18px;
    margin-bottom: 10px;
}
.subtheme{
    background: lightgray;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.subtheme .text{
    font-size: 20px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
.edit_btn{
    background: #00a096;
    color: white;
    margin-right: 5px;
}
.delete_btn{
    background: indianred;
    color: white;

}
.images{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.image{
    flex: 0 1 31%;
    margin: 0 10px;
    margin-bottom: 15px;
}
.img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.content{
    position: relative;
}
.image iframe{
    height: 200px;
    margin-bottom: 5px;
}
.save_btn{
    background: green;
    color: white;
    display: inline-block;

    padding: 15px 30px;
}
.del_btn{
    padding: 17px 30px;
}

/**********************************************************/

.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    transition: all 0.4s ease 0.2s;
}
.b-popup .b-popup-content{
    margin: 240px auto 0px auto;
    width:300px;
    height: 140px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 15px 1px #E36F59;

}
.popup_text{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 10px;

}
.popup_buttons{
    display: flex;
    justify-content: center;
    font-size: 20px;

}
.popup_confirm{
    margin-right: 20px;
    background: red;
}
.popup_button{
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
}
.hide_popup{
    background: green;
}
