body{
    font-family: Bitter, sans-serif;
    color: #23262D;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 40;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.content{
    flex: 1 1 auto;
}
.content_result{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
header{
    margin: 15px 0 0 0;
}
/*********************************/
.content_item{
    width: 800px;
    background: white;
    box-shadow: 0px 0px 20px #E36F59;
    border-radius: 8px;
    margin-top:30px;
}
.test_header{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

.image{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 85px;
    object-fit: cover;
}
.test_title{
    font-weight: 700;
    font-size: 44px;
    z-index: 2;
    padding: 20px 0 15px 0;
}
.test_timer{
    position: absolute;
    right: 0;
    top: 22px;
    display: flex;
}
.time{
    width: 138px;
    height: 77px;
    background: #E36F59;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    padding-top: 5.5px;
}
.timer_value{
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.time_text{
    width: 100%;
    text-align: center;
    background: white;
    height: 25px;
    border-radius: 0 0 8px 8px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.75em;
    text-transform: uppercase;
    color: #E36F59;
    padding-top: 3px;

}
.clock-img{
    margin-top: 4px;
}
.time-text{
    margin: 0 0 0 7px;
}
.header_line{
    height: 3px;
    background: #E36F59;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    opacity: 75%;
}
.title{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-top: 35px;
}
.question, .btn{
    width: 80%;
    margin: 0 auto;
}
.items{
    display: flex;
    justify-content: space-between;
}
.answer{
    margin-top: 20px;
}
.answer input{
    visibility: hidden;
}
.form{
    position: relative;
}
.label{
    margin-left: 35px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.label::before{
    position: absolute;
    left: 0;
    height: 35px;
    width: 35px;
    background: #A0A0A0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    transition: all 0.2s;
}
.label_first:before{
    content: 'a';
}
.label_second:before{
    content: 'b';
}
.label_third:before{
    content: 'c';
}
.label_fourth:before{
    content: 'd';
}

.answer{
    position: relative;
}
.submit-btn{
    padding: 15px 35px;
    margin: 35px 0 30px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.015em;
    background: #E36F59;
    border-radius: 10px;
    color: white;
    transition: all 0.2s;
}
.submit-btn:hover{
    background: #E75B41;
}
.right_item{
    margin-top: 30px;
}
/***************************************/
@media (max-width: 965px) {
    .clock-img{
        visibility: hidden;
    }
}
@media (max-width: 800px){
    .test_title{
        font-size: 36px;
    }
    .time{
        height: 40px;
    }
    .time-text{
        visibility: hidden;
    }
}
/****************************************************/
.result_text{
    text-align: center;
    margin-top: 50px;
    font-weight: 400;
    font-size: 24px;
    color: #2D3034;
}

/*////////////////////////////////*/
#q0a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q0a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q0a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q0a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q1a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q1a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q1a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q1a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q2a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q2a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q2a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q2a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q3a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q3a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q3a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q3a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q4a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q4a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q4a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q4a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q5a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q5a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q5a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q5a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q6a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q6a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q6a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q6a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q7a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q7a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q7a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q7a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q8a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q8a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q8a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q8a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q9a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q9a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q9a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q9a4:checked ~ .label::before{
    background: #FF9A6C;
}

/*////////////////////////////////*/
#q10a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q10a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q10a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q10a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q11a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q11a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q11a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q11a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q12a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q12a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q12a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q12a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q13a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q13a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q13a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q13a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q14a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q14a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q14a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q14a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q15a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q15a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q15a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q15a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q16a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q16a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q16a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q16a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q17a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q17a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q17a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q17a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q18a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q18a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q18a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q18a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q19a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q19a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q19a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q19a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q20a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q20a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q20a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q20a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q21a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q21a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q21a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q21a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q22a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q22a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q22a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q22a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q23a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q23a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q23a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q23a4:checked ~ .label::before{
    background: #FF9A6C;
}
/*////////////////////////////////*/
#q24a1:checked ~ .label::before{
    background: #FF9A6C;
}
#q24a2:checked ~ .label::before{
    background: #FF9A6C;
}
#q24a3:checked ~ .label::before{
    background: #FF9A6C;
}
#q24a4:checked ~ .label::before{
    background: #FF9A6C;
}












