body{
    font-family: Bitter, sans-serif;
    color: #23262D;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 40;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
@media (max-width: 1024px) {
    .container{
        max-width: 700px;
    }
}
@media (max-width: 575px) {
    .container{
        max-width: 320px;
    }
}
.content{
    flex: 1 1 auto;
}
.header{
    margin: 15px 0 0 0;
}
/*button*/
.action_btn{
    color: #fff;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.03em;
    background: #E36F59;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-top: 35px;
}
.action_btn:after {
    content: "";
    display: block;
    width: 20px;
    height: 200px;
    margin-left: 50px;
    background: #fff;
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0.5) 100%
    );
    left: -40px;
    top: -100px;
    z-index: 1;
    transform: rotate(45deg);
    position: absolute;
    animation: movingFlare 3s ease-in-out 0.05s infinite;
}

@keyframes movingFlare {
    0% {
        left: -30px;
        margin-left: 0px;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

/*title*/
.title_text{
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0.01em;
    padding-left: 10px;

}
.title_line{
    width: 110px;
    height: 16px;
    opacity: 0.5;
    border-radius: 4px;
    background: #E36F59;
    position: absolute;
    z-index: -1;
    bottom: 2px;
}
.title{
    margin: 20px 0 10px 0;
    position: relative;
}
/*content*/
.content{
    margin-top: 10px;
    position: relative;
}
.test_subtitle{
    margin-top: 35px;
    font-weight: 500;
    font-size: 20px;
    line-height: 165%;
    letter-spacing: 0.035em;
    width: 620px;
}
.text_alarm{
    margin-top: 35px;
    font-weight: 600;
    font-size: 20px;
    line-height: 165%;
    letter-spacing: 0.035em;
    color: #E36F59;
    width: 465px;

}
.content-intro{
    position: relative;
    display: flex;
}
.content_image{
    position: absolute;
    right: 0;

}
.content-img{
    margin-top: 5px;
}
@media (max-width: 1120px){
    .content_image{
        opacity: 90%;
    }
    .content_text{
        z-index: 10;

    }
    .test_subtitle{
        width: 510px;
    }
}
@media (max-width: 1024px){
    .content_image{
        display: none;
    }
    .test_subtitle{
        width: 100%;
        text-align: justify;

    }

}
@media (max-width: 575px){
    .container{
        padding: 0 5px;
    }
    .content_image{
        display: none;
    }
    .test_subtitle{
        width: 100%;
        text-align: justify;
        font-size: 16px;

    }
    .content-intro{
        width: 100%;
        display: block;
    }
    .action_btn{
        width: 100%;
        padding: 15px 0 15px 0;
        font-size: 18px;
        text-align: center;
        margin-top: 15px;
    }
    .text_alarm{
        font-size: 15px;
        width: 100%;
        margin-top: 35px;
        text-align: center;

    }
    .title_text{
        font-size: 32px;
    }
    .title_line{
        top: 18px;
        height: 13px;
        width: 90px;
    }
}
